* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;

    justify-items: stretch;
    align-items: stretch;

    margin: auto;
    width: 100vw;
    height: 100vh;
    /* border: 10px dotted darkcyan; */
}

.box {
    text-align: center;
    padding: 10px;
}

.box1 {
    align-self: start;
    grid-column: 1/3;
    grid-row: 1/3;

    background: blue;
    border: 5px solid darkblue;
    border-radius: 10px;
}

.box2 {
    align-self: end;
    grid-row: 1/3;
    background: blueviolet;
    border: 5px solid darkslateblue;
    border-radius: 10px;
}

.box3 {
    justify-self: end;
    align-self: start;
    grid-column: 2/4;
    grid-row: 3;

    background: pink;
    border: 5px solid darksalmon;
    border-radius: 10px;
}

.box4 {
    grid-row: 2/4;
    grid-column: 1;

    background: slateblue;
    border: 5px solid darkslateblue;
    border-radius: 10px;
}

.box5 {
    background: coral;
    border: 5px solid darksalmon;
    border-radius: 10px;
}

.box6 {
    background: gray;
    border: 5px solid darkgray;
    border-radius: 10px;
}

.box7 {
    background: green;
    border: 5px solid darkgreen;
    border-radius: 10px;
}

.box8 {
    background: yellow;
    border: 5px solid darkgoldenrod;
    border-radius: 10px;
}

.box9 {
    background: brown;
    border: 5px solid darkred;
    border-radius: 10px;
}

.box10 {
    background: purple;
    border: 5px solid darkviolet;
    border-radius: 10px;
}